@keyframes indoor {
  0% {
    opacity: 0.30;
    transform: scale( 1, 1 );
  }
  66% {
    opacity: 0.30;
    transform: scale( 1, 1 );
  }  
  100% {
    opacity: 0;
    transform: scale( 4, 4 );
  }
}
  
body {
  align-items: center;
  background-color: #4178be;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;  
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

button {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;  
  color: white;
  display: none;
  margin: 0;
  outline: none;
  padding: 0;
  width: 56px;
}

button:first-of-type {
  background-image: url( '/img/left.svg' );
}

button:last-of-type {
  background-image: url( '/img/right.svg' );
}

select {
  -webkit-appearance: none;  
  background: none;
  background-image: url( '/img/drop.down.svg' );
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px;  
  border: none;
  border-bottom: solid 1px white;
  border-radius: 0;
  color: white;
  flex-basis: 0;
  flex-grow: 0.25; 
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: 400;
  height: 34px;
  line-height: 34px;
  outline:  none;
}

svg {
  left: 0;
  position: absolute;
  top: 0;
}

#branding {
  background-color: white;
  perspective: 1000px;  
  position: absolute;
  right: 16px;
  top: 16px;
}

#branding:hover .flipper, #branding.hover .flipper {
  transform: rotateY( 180deg );
}

#branding, .front, .back {
	width: 175px;
	height: 72px;
}

#directions {
  align-items: center;
  background-color: #142936;
  display: flex;
  flex-direction: row;
  height: 78px;
  justify-content: center;
  width: 100%;
}

#viewport {
  margin: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 0.75;
  justify-content: center;
  position: relative;
}

.back {
  background-color: #142936;
	transform: rotateY( 180deg );
}

.center {
  background-color: #132937;
  border: solid white 4px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba( 19, 41, 55, 0.80 );  
  height: 20px;
  left: 40px;
  position: absolute;  
  top: 40px;  
  transform: translate( -14px, -14px );
  width: 20px;
}

.content {
  display: flex; 
  flex-direction: row; 
  flex-grow: 1;
  justify-content: center;     
  width: 100%; 
}

.destination {
  margin-right: 8px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
  backface-visibility: hidden;
	left: 0;  
	position: absolute;
	top: 0;
}

.front {
  background-image: url( /img/ibm.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  background-color: #4178be;
	z-index: 2;
	transform: rotateY( 0deg );
}

.location {
  display: none;
  height: 80px;
  left: 40;
  position: absolute;  
  top: 40;  
  transform: translate( -40px, -40px );
  transform-origin: 40px 40px;
  width: 80px;
}

.ping {
  animation-duration: 6s;
  animation-iteration-count: infinite;    
  animation-name: indoor;  
  background-color: #132937;    
  border-radius: 80px;
  height: 20px;
  left: 30px;
  opacity: 0.20;
  position: absolute;  
  top: 30px;  
  transform-origin: 10px 10px;
  width: 20px;  
}  

.spacer {
  flex-basis: 0;    
  flex-grow: 0.25; 
}
