body {
  align-items: center;
  background-color: #fafafa;  
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;  
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#map {
  width: 80%;
}
