body {
  align-items: center;
  background-color: #ecf2f2;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;  
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

button.action {
  background-color: #F44336;
  background-image: url( /img/add.white.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  border-radius: 56px;
  bottom: 16px;
  box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );
  display: none;
  height: 56px;
  outline: none;
  position: absolute;
  right: 16px;
  width: 56px; 
}

button.flat {
  background: none;
  border: none;
  color: #396aac;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  margin: 8px 0 0 16px;
  outline: none;
  padding: 0 16px 0 16px;
  text-transform: uppercase;
}

button.raised {
  background: none;
  background-color: #396aac;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  margin: 8px 0 0 16px;
  outline: none;
  padding: 0 16px 0 16px;
  text-transform: uppercase;
}

canvas {
  display: none;
}

div.spacer {
  width: 16px;
}

input {
  background: none;
  border: none;
  border-bottom: solid 1px rgba( 0, 0, 0, 0.42 );
  color: rgba( 0, 0, 0, 0.87 );
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  flex-grow: 1;
  margin: 0 0 8px 0;
  outline: none;
  padding: 16px 0 8px 0;
}

input:focus {
  border-bottom: solid 2px #396aac;
  padding: 16px 0 7px 0;  
}

::-webkit-input-placeholder {
  color: rgba( 0, 0, 0, 0.38 );
}

.tabs {
  background-color: #396aac;
  display: flex;
  flex-direction: row;
  height: 48px;
}

.tabs > button {
  background: none;
  border: none;
  border-bottom: solid 2px rgba( 255, 255, 255, 0 );
  border-top: solid 2px rgba( 255, 255, 255, 0 );  
  color: rgba( 255, 255, 255, 0.70 );
  flex-basis: 0;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  text-transform: uppercase;
}

.tabs > button.selected {
  border-bottom: solid 2px #1c354a;
  color: white;
}

.template {
  display: none;
}
