#list {
  bottom: 0;
  display: none;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#list > div.item {
  background-image: url( /img/ibm.shirt.jpg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  float: left;
  height: calc( 25vw - 5px );
  margin: 4px 0 0 4px;
  position: relative;
  width: calc( 25vw - 5px );
}

#list > div.item:last-of-type {
  margin-bottom: 4px;
}

#list > div.item > div.footer {
  background-color: rgba( 0, 0, 0, 0.38 );  
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 36px;
  left: 0;
  padding: 16px;
  position: absolute;
  right: 0;
}

#list > div.item > div.footer > button {
  background: none;
  background-image: url( /img/forward.white.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 38px;
  outline: none;
  width: 38px;
}

#list > div.item > div.footer > div.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#list > div.item > div.footer > div.details > p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;  
  height: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
