#toolbar {
  background-color: #396aac;
  box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.26 );    
  height: 56px;
  left: 0;
  position: absolute;
  right: 0;
  top: -63px;
  transition: top 1s;
}

#toolbar > div.items {
  display: flex;
  flex-direction: row;
}

#toolbar > div.items > p {
  color: white;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 56px;
  margin: 0;  
  padding: 0 0 0 16px;
}

#toolbar > div.items > button {
  background: none;
  background-image: url( /img/exit.white.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 56px;
  outline: none;
  width: 56px;
}
